/*l'en-tête des pages*/
html, body {
  margin: 0;
  padding: 0;
}

/*menu de navigation*/
nav {
	position: fixed;
	top:0;
	right: 0;
	left:0;
	height: 20vh;
	display: flex;
	background-color: #f5f5f5;
	justify-content: center;
    align-items: center;
    gap: 3vh;
    z-index: 100;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: center ;
    align-items: center;
    font-size: 5rem;
    background-color: #f5f5f5;
    flex-wrap: wrap;
    gap: 5vh ;
}
nav ul li a {
	text-decoration: none;
	color: #222222;
	font-size: 5rem;
	font-weight: bolder;

}
nav ul li a:hover {
	color: #5c4033;
}
/*page 1*/
/*banniere*/
.banner{
	position: relative;
	width: 100%;
	height: 46vh;
	background-image: url("accueil.jpeg");
	background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5c4033;
    text-align: center;
    z-index: 1;
    margin-top: 15vh;
}
.text {
	position: absolute;
	background-color: rgba(242, 207, 220, 0.4);
	color: #5c4033;
	border-radius: 10px;
	padding: 3vh;
	font-size: 4rem;
	font-weight: bolder;
}
.intro p {
	font-size: 2.5rem;
	color: #222222;
	padding: 3vh;
	
}

/*les blocs*/

.bloc{
	display: flex;
	align-items:center ;
	gap:2vh;

}
.bloc img{
	width: 50%;
	border-radius: 20px;
	border: solid 1px #f2cfdc;
	height: auto;
}
.bloc p {
	font-size: 2.5rem ;
	background-color: #5c4033;
	color: #f5f5f5;
	padding: 3vh;
	border-radius: 20px;
}
/*boutons*/

button {
	font-size: 1.5rem;
	background-color: #f2cfdc;
	border: solid;
	border-radius: 15px 15px 15px 15px;
	padding: 30px 85px 30px 85px;
	display: block;
	margin: 2vh auto; }

button a {
   text-decoration: none;
   color: #222222;
}

button:hover {
	background-color:#5c4033 ;
}

button a:hover {
	color: #f2cfdc;
}

/*le pied de page*/
footer{
margin-bottom: 0;
	right: 0;
	left:0;
	
	background-color: #f2cfdc;
	color: #222222;
}

footer p{
	font-size: 4rem;
	font-weight: 500;
	text-align: center;
}

.credit{
	font-size: 4rem;
	font-weight: 500;
	text-align: right;
	font-style: italic;
	margin-bottom: 0;

}

/*page 2*/
/*banniere*/
.banner1{
	position: relative;
	width: 100%;
	height: 46vh;
	background-image: url("methode.jpeg");
	background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5c4033;
    text-align: center;
    z-index: 1;
    margin-top: 18vh;
}
.text1 {
	position: absolute;
	background-color: rgba(242, 207, 220, 0.4);
	color: #5c4033;
	border-radius: 10px;
	padding: 3vh;
	font-size: 5rem;
	font-weight: bolder;
}
/*les méthodes et conseils pour les pages méthodes et conseils*/
.interface {
	display: flex;
	flex-wrap: wrap;
}

.rose {
	width: 40%;
   padding: 10px;
	box-sizing: border-box;
	border-radius: 40px ;
	background-color: #f2cfdc;
	display: block;
	margin: 3vh auto;
	color: #222222;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	border: solid 2px #5c4033;
}

.marron {
	width: 40%;
	padding: 1vh;
	box-sizing: border-box;
	border-radius: 40px ;
	background-color: #5c4033;
	display: block;
	margin: 3vh auto;
	color: #f5f5f5;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	border: solid 2px #f2cfdc;
}

.rose details, p{
	text-align: left;
	list-style: none;
	font-size: 1.5rem;
}
.marron details,p {
	text-align: left;
	list-style: none;
	font-size: 1.5rem;
}
.rose h3 {
	font-size: 3rem;
	font-style: italic;
	text-align: center;
}
.marron h3{
	font-size: 3rem;
	font-style: italic;
	text-align: center;
}
/*page 3*/
.banner2{
	position: relative;
	width: 100%;
	height: 46vh;
	background-image: url("conseil.jpeg");
	background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5c4033;
    text-align: center;
    z-index: 1;
    margin-top: 15vh;
}
.text2 {
	position: absolute;
	background-color: rgba(242, 207, 220, 0.4);
	color: #5c4033;
	border-radius: 10px;
	padding: 3vh;
	font-size: 5rem;
	font-weight: bolder;
}
/*page 4*/
form {
  background-color: #f2cfdc;
  width: 50vw;
  min-height: 19vh;
  border-radius: 30px;
  padding: 3vh;
  margin-top: 20vh;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  margin: 19vh auto ;
}

form input {
  background-color: #5c4033;
  color: white;
  border: none;
  padding: 1vh;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 1vh;
}

.contact {
  color: #222222;
  font-size: 3rem;
  text-align: center;
}

@media (max-width: 768px) {
  html {
    font-size: 80%; /* 80% de 16px = 12.8px */
  }
    .bloc , .rose , .marron {
    flex-direction: column;
    gap: 3vh;
    align-items: center;
    display: flex;
  }
  .bloc img {
    width: 100%; /* image pleine largeur */
  }
  .rose , .marron {
  	width: 100%;
  }

    nav ul, nav ul li a {
    	margin-top: 8vh;
    font-size: 2.5rem;
    gap: 2vh;
  }
  nav {
    height: 5vh;
    margin-top: 2vh;
  }
  form {
    width: 90vw;
    align-items: center;
    margin-top: 20vh;
  }
 .logo{
 	max-height: 60px;
 	max-width: 60px;
 }
 .banner {
 	margin-top: 10vh;
 }
 .banner1 {
 	margin-top: 3vh;
 }
 .banner2 {
 	margin-top: 8vh;
 }
}